import React from 'react';

interface {{ComponentName}}Props {
  // Props here
}

export function {{ComponentName}}({ }: {{ComponentName}}Props) {
  return (
    <div>
      {/* Component content */}
    </div>
  );
}
